html, body {
  height: 100%;
  width: 100%;
}

.block {
  height: 90%;
  width: 100%;
}

/*.carousel-item {*/
  /*height: 60% !important;*/
/*}*/

.pin-top {
  position: relative;
}

.pin-bottom {
  position: relative;
}

.pinned {
  width: 100%;
  position: fixed !important;
}

body {
  background-color: #12113;
}

.nav-wrapper, .block, .section {
  background-color: #222725;
}

.brand-logo, nav ul a, .header {
  color: #E4E6C3 !important;
}

.card, .card-reveal {
  background-color: #F7F7F2 !important;
}

#upcoming li {
  background-color: #121113;
}

.galleria { 
  /*max-width: 700px; */
  height: 700px; 
  background: #000;
}
